.closed{
    .serverBtn{
        line-height: 1;
        min-width: 60px;
        min-height: 40px;
        font-size: 1.3em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1em;
    }
}

