
<ion-content class="login" trackScroll no-bounce>

    <div>
        <div class="login_pic hide-on-keyboard-open">
            <img src="assets/img/zarpoapp_signin_pic.jpg" />
        </div>
        <div class="logcard">
            <div class="myform login-header hide-on-keyboard-open">
                <ul>
                    <li class="greybg" [class.activetab]="!ifUserRegistered" (click)="signUp()"><a dark>Criar uma conta</a></li>
                    <li class="greybg" [class.activetab]="ifUserRegistered"   (click)="signIn()"><a dark>Já sócio</a></li>
                </ul>
            </div>

            <div class="myform beDown35">
                <div id='mainContent'>
                    <div id="signup"  class="list">

                        <form novalidate name="signupForm" >

                            <div *ngIf="!signupForm">

                                <input  onError ifFormSubmitted="{{Uemail}}" noSpace onReturn type="email"  [(ngModel)]="user.email" ngControl="email"
                                          (click)="modelChange()"  #email="ngModel"  required
                                          pattern="^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$"
                                          [class.errormsg]="Uemail" class="inputArea " name="signupEmail" placeholder="Seu e-mail">
                                <input  onError="true" noSpace onReturn type="password" (click)="modelChange()" [(ngModel)]="user.password" [class.errormsg]="Upassword && !user.password"   class="mypwd" name="signupPasswordR" placeholder="{{placeholder}}">

                                <button ion-button class="button button-block loginbtn marT20" color="primary" type="button"
                                        (click)="login(user,signup_button,email.errors)" *ngIf="signup_button !== 'Aguarde'"
                                        >
                                    <span>{{signup_button}}</span>
                                </button>

                                <button ion-button class="button button-block loginbtn marT20 greybg"  type="button" 

                                        *ngIf="signup_button === 'Aguarde'" on-tap="login(user,signup_button,email.errors)">
                                    <span>{{signup_button}}</span>
                                </button>

                                <div class="errormsg errorcolor marT20" >

                                    <p class="errormsg md-char-counter" *ngIf="Uemail">
                                        Por favor informe um e-mail válido.

                                    </p>
                                    <p class="errorcolor" *ngIf="Upassword && (!user.password || user.password.length < 6)">
                                       Sua senha deve ter pelo menos 6 caracteres.
                                </p>
                                <p class="errorcolor" *ngIf="wrongCredit">
                                    Esse e-mail e senha não correspondem.
                                    Verifique seus dados e tente de novo.
                                </p>
                            </div>

                            <div class="marT20 underline center" (click)="goForgotPwd()">
                                <a  class="forgot_link calm" >Esqueceu sua senha?</a>
                            </div>
                        </div>


                    </form>
                    <!--<form novalidate name="registerForm">--> 

                    <div *ngIf="signupForm">
                        <input  noSpace onReturn (click)="modelChange()" type="text" [(ngModel)]="user.name" 
                                [ngClass]="{'errormsg':registerSubmit==true &&(!user.name || user.name.invalid)}" name="firstname" placeholder="Nome">

                                <input  noSpace onReturn (click)="modelChange()" type="text" 
                                [ngClass]="{'errormsg':registerSubmit==true &&(!user.surname || user.surname.invalid)}"
                                name="surname" [(ngModel)]="user.surname"  placeholder="Sobrenome">

                                <div (click)="modelChange()" class="item item-input-inset registrationState"
                                [ngClass]="{'errormsg':registerSubmit==true &&(!user.sate ||user.sate==='Escolha seu estado')}" name="state">


                                <select   [(ngModel)]="user.state" (ngModelChange)="onchange($event)">
                                <option *ngFor="let states of state">{{states.name}}</option>
                            </select>
                        </div>


                        <button ion-button  class="button button-block loginbtn marT20" color="primary" type="button" 
                                [class.greybg]="signup_button === 'Aguarde'" (click)="register(user,regbt)">
                            <span>{{regbt}}</span>
                        </button>
                    </div>
                    <div class="errormsg errorcolor marT20" >
                        <p class="errormsg md-char-counter" *ngIf="ragerror">
                            Esses campos estão incorretos.
                        </p>
                    </div>
                    <!--</form>-->

                    <fb-login></fb-login>


                </div>
            </div>
        </div>

    </div>

</div>
<div class='marT20 center'>
    <span style="text-decoration: none;text-align:center; cursor: pointer; color: #00C8EE!important;">
          <a target="_blank" href="http://www.zarpo.com.br/magazine/">Magazine</a> | 
        <a target="_blank" href="http://www.zarpo.com.br/?guia-de-hoteis=true">Guia de Hotéis</a>
    </span>
</div>
<div class="footerwidth">
    <zarpo-footer></zarpo-footer>
</div>

</ion-content>

