<zarpo-nav-bar [title]="pageTitle" [loading]="apiLoader" [showBack]="zarpoIcon"></zarpo-nav-bar>
<ion-content class="cancel">
    <div class="wrapper deactivated">
        <!--		    third box-->
        <ion-grid class="no-padding">
            <ion-row class="no-padding">
                <ion-col class="no-padding">
                    <div class="valeCancel" *ngIf="cancelContent">
                        <div class="hotel_rules">
                            <div class="rules gap " *ngIf="cancelContent.checkin">
                                <h4 class="gap-half default-font bold">Check-in & Check-out</h4>
                                <ul class="disc" >
                                    <li class="arrTime whitebg">Check-in: {{cancelContent.checkin}}</li>
                                    <li class="arrTime whitebg">Check-out: {{cancelContent.checkout}}</li>
                                </ul>
                            </div>
                            <div class="rules gap bold">
                                <h4 class="gap-half default-font bold" *ngIf="!cancelContent.checkin">
                                    Regras do Vale Presente
                                </h4>
                                <h4 class="gap-half default-font bold" *ngIf="cancelContent.checkin">
                                    Regras da Oferta
                                </h4>
                                <div class="hotel_rules">
                                    <ul class="disc">
                                        <li  *ngFor="let rule0 of cancelContent.disclaimer[0]" [innerHTML]="rule0" class="br">

                                    </li>
                                </ul>
                            </div>
                            <span class="br"></span>
                        </div>
                        <div class="rules gap" *ngIf="cancelContent.checkin">
                            <h4 class="gap-half bold" >Política de Alteração e Cancelamento</h4>
                            <div class="hotel_rules">
                                <ul class="disc">
                                    <li *ngFor="let rule1 of cancelContent.disclaimer[1]" [innerHTML]="rule1" class="br">

                                </li>
                            </ul>
                            <span class="br"></span>
                        </div>
                    </div>
                </div>

            </div>
        </ion-col>
    </ion-row>
</ion-grid>
</div>
</ion-content>