<!--<div  *ngFor="let rooms of bookingResponse.rooms_info.rooms | rooms">
    <ion-item class="br calendar border-bottom myhotel" id="room_{{rooms.room_id}}" 
             *ngIf="showAvailableRooms(rooms.room_id)"
              [class.avtive]="true"  >
              <div class="accordion-header1">
            <div (click)="toggleGroup(rooms.room_id)"> 
                            <ion-grid>
                <ul class="parent">
                    <li class="rooms left_child listmain">
                        <ul class="left_col">
                            <li><strong>{{rooms.name}}</strong></li>
                            <li *ngFor="let roomDetail of rooms.description" [innerHtml]="roomDetail">
                        </li>
                    </ul>
                </li>
                <li class="right_child rooms" style="width: 100px;
                    position:absolute;
                    right : 0px;
                    top: 0px;vertical-align: top;">
                    <ul class="right_col">
                        <li>
                            <label *ngIf="flashType=='Pacote'">
                                R${{getClientPrice(rooms.room_id)}}
                            </label>
                            <label *ngIf="flashType!='Pacote'">
                                R${{getClientPrice(rooms.room_id)}}/noite
                            </label>
                        </li>
                        <li>

                            <button primary class="calm-bg options fa" >
                                opções &nbsp;  
                                <span *ngIf="header[rooms.room_id] === false || !header[rooms.room_id]"> + </span>
                                <span *ngIf="header[rooms.room_id] === true"> - </span>

                            </button> 
                        </li>

                    </ul>
                </li>
            </ul>
                    </ion-grid>
        </div>

        <div class="clear"></div>
        <div class="clearfix"></div>
        <div style="width: 100%;display: none !important;" id="subroom_{{rooms.room_id}}" 
             class=" item-accordion1 roomDescription border-top clear" >
            <div *ngFor="let subrooms of rooms.subrooms|rooms" class="subroom">
                <table>
                    <tr>
                        <td style="vertical-align: top;">
                            <ul class="left_col">
                                <li><strong>{{subrooms.s_name}}</strong></li>
                                <li *ngFor="let subroomDetail of subrooms.s_description" [innerHtml]="subroomDetail"></li>
                            </ul>
                        </td>
                        <td style="vertical-align: top;" class="roomsDetail">
                            <ul class="right_col">
                                <li>
                                    <label>
                                        R${{getClientPrice(subrooms.s_room_id)}}/noite
                                    </label>
                                </li>
                                <li>
                                    <select id="{{subrooms.s_room_id}}" class="ion-android-arrow-down" [(ngModel)]="subroom[subrooms.s_room_id]"
                                            (ngModelChange)="getRoom(subrooms, subroom[subrooms.s_room_id], rooms.room_id, rooms.name, rooms.super_attribute)">
                                            <option value="" [selected]="!subroom[subrooms.s_room_id]">0</option>
                                        <option *ngFor="let no of convertArray(getStock(subrooms.s_room_id)); let i = index" value="{{i + 1}}">{{i + 1}}</option>
                                    </select>
                                    <div class="select_label" *ngIf="attribute === 'Hotel'">Nº de aptos</div>
                                    <div class="select_label" *ngIf="attribute === 'Pacote'">Nº de pacotes</div>
                                </li>
                                <li>
                                    <div class="icon_holder">

                                        <div class="permitted_member_child" *ngFor="let child of subrooms.kids|adultChild" >
                                             <img src="img/kid.png"/>
                                        </div>
                                        <div class="permitted_member_adult" *ngFor="let adult of subrooms.adults|adultChild" >
                                             <img src="img/adult.png"/>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</ion-item>
</div>

-->
