<ion-card tappable *ngFor="let item of items;let i=index "  (click)="displayDetailData(item,i)">

          <div class="imgloader">
        <div class="img-holder "  
             [ngStyle]="{backgroundImage: 'url(' + item.image + ')','height': imgHeight}">
<!--             <div class="client_price" style="" *ngIf="flashtype ==='Pacote' || flashtype ==='Vale'">
                <div class="pacote-price">A partir de <span>{{item.gift_price}}</span><span *ngIf="flashtype ==='Pacote'&& item.pacote_price">{{item.pacote_price.clientprice}}</span></div>
                <div class="pacote-price-tag" *ngIf="flashtype !=='Vale'">(por pessoa, em quarto duplo)</div>
            </div>-->
<!--[hidden]="flashtype !=='Hotel' || flashtype !=='Ja'"-->

            <div class="blackDays" *ngIf="item.flash_image_label">
                 <img src="{{item.flash_image_label}}" />
            </div>
            <div [ngClass]="{'automaticBlackOut':item.flash_image_label,'automaticCredit':!item.flash_image_label}" class=""  *ngIf="item.automatic_credit && item.automatic_credit != 0 ">
                 <div> R${{item.automatic_credit}}</div>
            </div>
        </div>
    </div>
    <a class="">
        <p class="hotel-name bold" >
            {{item.name}}
        </p>
    </a>
    <a>
        <p class="hotel-location">
            {{item.location}}
        </p>
    </a>
          <div class="cl" *ngIf="flashtype !=='Vale'">
              <div class="lin" *ngIf="flashtype !== 'Ja' ">Último dia da promoção:</div><div *ngIf="flashtype !== 'Ja' " [innerHtml]="item.date_to_close"></div>
              <div *ngIf="flashtype == 'Ja'"> Encerra na segunda-feira às 15h</div> 
              <!--{{flashtype}}-->
    </div>
</ion-card>


				           		
				           		 
