.success{
   
    .serverBtn{
        width:100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1em;
        color: #fff;
        background-color: #00c8ee;
    }
    .serverBtn:hover{
        background-color: #00c8ee;
        color: #fff;
    }

}

