<zarpo-nav-bar [title]="pageTitle" [loading]="apiLoader" [showBack]="zarpoIcon"></zarpo-nav-bar>
<ion-content class="" no-bounce>
    <div class="wrapper payment">
        <!--payment form-->
        <div class=" checkout" *ngIf="payment_emi && paymentForm" [hidden]="payment_emi.length > 0">
             <div  class="paymentDivcard hotel-venda">

                <div class="payment-title ">
                    Cartão de crédito  
                </div>
                <form class="field padUD0" novalidate [formGroup]="paymentForm" >
                      <ion-grid class="no-padding">
                        <ion-row class="no-padding" *ngIf="emiSet && emiSet.length > 0">
                            <ion-col  class="no-padding" (click)="modelChange()" >
                                <select class="giftPayment-select" [ngClass]="{'errormsgB': ifPaymentConfirmed && payee_emi=='-1'}"
                                        [(ngModel)]="payee_emi" [ngModelOptions]="{standalone: true}">
                                        <option value="-1">Selecione o número de parcelas</option>
                                    <option  value="{{emi}}" *ngFor="let emi of emiSet; let index=index">
                                             {{index+1}}x R$ {{emi.intallment}}
                                             | Total: R$ {{emi.total}} 
                                </option>
                            </select>
                        </ion-col>
                    </ion-row>
                    <div class="clear"></div>
                    <ion-row>
                        <ion-col  class="no-padding" width-34>
                            <select class="giftPayment-select " 
                                    [(ngModel)]="payee_cardname"
                                    (click)="selectCard()" [ngModelOptions]="{standalone: true}">
                                    <option value="Visa">VISA</option>
                                <option value="Mastercard">MASTER</option>
                                <option value="Amex">AMEX</option>
                                <option value="Diners">DINER’S</option>
                                <option value="Hipercard">HIPERCARD</option>
                                <option value="ELO">ELO</option>
                            </select>
                        </ion-col> 
                        <ion-col  class="no-padding" width-64>
                            <ion-row>
                                <ion-row>
                                    <input type="text" name="inputone" noSpace onReturn class="marL5"  style=""
                                           formControlName="payee_card_no" (click)="modelChange()" placeholder="Número do cartão" 
                                           [ngClass]="{'errormsgB': ifPaymentConfirmed && (paymentForm.controls.payee_card_no.value.trim().length < 1||
                                           !paymentForm.controls.payee_card_no.valid|| creditCard.payee_card_no == false)}" />
                                </ion-row>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <div class="clear"></div>
                    <!--                    third row-->
                    <ion-row>
                        <ion-col  class="no-padding">
                            <input type="text" noSpace onReturn   word-case name="input2"

                                   formControlName="payee_name"  placeholder="Nome impresso no cartão"
                                   autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"       
                                   [ngClass]="{'errormsgB': ifPaymentConfirmed && (paymentForm.controls.payee_name.value.trim().length < 1|| !paymentForm.controls.payee_name.valid)}" 
                                   (click)="modelChange()"/>
                        </ion-col>
                    </ion-row>
                    <div class="clear"></div>
                   
                    <ion-row>
                        <ion-col id="giftCalender" class="no-padding" width-60 >
                             <date-picker [ifFormSubmit]="ifPaymentConfirmed"  [ifHasError]="creditCard.payee_card_month" (monthSelected)="monthSelected($event)" (yearSelected)="yearSelected($event)"></date-picker>
<!--                            <div class='clear marB5'
                                 [ngClass]="{'errormsgB': ifPaymentConfirmed && (!payee_card_month || creditCard.payee_card_month == false)}">
                                 <my-date-picker [options]="myDatePickerOptions" [title]="dateTitle"
                                    (dateChanged)="onDateChanged($event)"></my-date-picker>
                            </div>-->
                            <!--                             <ion-item>
                          <ion-label>Date</ion-label>
                          <ion-datetime displayFormat="MM/YYYY" (ionChange)="onDateChanged(myDate)" min="2018" max="2040" [(ngModel)]="myDate" [ngModelOptions]="{standalone: true}"></ion-datetime>
                      </ion-item>
                 
                            <!--                            <ion-item id="giftCalender" 
                                                                  class="item item-input"  style="border: 1px solid #e4e4e4;max-height: 35px;">
                                                                  <ion-label *ngIf="!payee_card_month">
                                                                Válido até
                                                            </ion-label>
                                                            <ion-datetime displayFormat="MM-YYYY" pickerFormat="MM/YYYY" 
                                                                          cancelText="Cancelar" doneText="Confirmar" min="{{todayDate}}" max="2099-12-31"
                                                                          >
                                                            </ion-datetime>
                                                        </ion-item>-->
                        </ion-col>
                        <ion-col  class="no-padding" width-40>
                            <ion-row>
                                <input type="text"  noSpace onReturn  name="input3" id="cvv"  placeholder="Cód. segurança" 
                                       formControlName="payee_card_cvv"  
                                       [ngClass]="{'errormsgB': ifPaymentConfirmed && (paymentForm.controls.payee_card_cvv.value.trim().length < 1|| !paymentForm.controls.payee_card_cvv.valid|| creditCard.payee_card_cvv == false )}" 
                                       class=" marL5" (click)="modelChange()"/>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <div class="clear"></div>
                    <div class="payment-title ">
                        Titular do cartão
                    </div>
                    <ion-row>
                        <input type="text" name="input4" noSpace onReturn  minlength="11" maxlength="11"
                               formControlName="payee_cpf" (click)="modelChange()" placeholder="CPF do titular"
                               [ngClass]="{'errormsgB': ifPaymentConfirmed && (paymentForm.controls.payee_cpf.value.trim().length < 1|| !paymentForm.controls.payee_cpf.valid)}" />
                    </ion-row>
                    <div class="clear"></div>
                    <ion-row>
                        <ion-col  class="no-padding" col-20>
                            <input type="text" name="input5" noSpace onReturn placeholder="DDD" class="" (click)="modelChange()"
                                   formControlName="payee_contact_code" style="" minlength="2" maxlength="2"
                                   [ngClass]="{'errormsgB': ifPaymentConfirmed && (paymentForm.controls.payee_contact_code.value.trim().length < 1|| !paymentForm.controls.payee_contact_code.valid)}" />

                        </ion-col>
                        <ion-col  class="no-padding" col-80>
                            <ion-row>
                                <input type="text" name="input6" noSpace onReturn class="marL5"  minlength="8" maxlength="9"
                                       formControlName="payee_contact_no" (click)="modelChange()" placeholder="Telefone do titular" 
                                       [ngClass]="{'errormsgB': ifPaymentConfirmed && (paymentForm.controls.payee_contact_no.value.trim().length < 1|| !paymentForm.controls.payee_contact_no.valid)}" />

                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <div class="clear"></div>
                    <ion-row>
                        <input type="email" name="input7" noSpace onReturn (change)="emailChange()"
                               formControlName="payee_email" (click)="modelChange()" placeholder="E-mail Zarpo"

                               class="" 
                               [ngClass]="{'errormsgB': ifPaymentConfirmed && (paymentForm.controls.payee_email.value.trim().length < 1|| !paymentForm.controls.payee_email.valid)}" />

                    </ion-row>
                    <ion-row>
                        <span class="note">
                            Alterando o e-mail acima, também será alterado seu e-mail de cadastro Zarpo
                            que lhe permite acessar ao site.
                        </span>

                    </ion-row>
                    <div class="clear"></div>
                </ion-grid>
            </form>
        </div>
        <div>
            <button ion-button class="button button-block button-calm " color="primary" type="button" [ngClass]="{'greybg': payment_btn === 'Aguarde'}"
                    (click)="payment_confirm(paymentForm)">
                <span>{{payment_btn}}</span>



            </button>
            <div class="errormsg beCenter center"  *ngIf="ifPaymentConfirmed" style="margin-top: 7px;">
                <p class="errormsg beCenter center" *ngIf="paymentForm.controls.payee_name.value.trim().length <1 || !paymentForm.controls.payee_name.valid
                   || paymentForm.controls.payee_card_no.value.trim().length <1 || !paymentForm.controls.payee_card_no.valid 
                   || paymentForm.controls.payee_email.value.trim().length <1  || !paymentForm.controls.payee_email.valid 
                   || paymentForm.controls.payee_contact_code.value.trim().length <1 || !paymentForm.controls.payee_contact_code.valid
                   || paymentForm.controls.payee_contact_no.value.trim().length <1 || !paymentForm.controls.payee_contact_no.valid
                   || paymentForm.controls.payee_card_cvv.value.trim().length <1 || !paymentForm.controls.payee_card_cvv.valid
                   || paymentForm.controls.payee_cpf.value.trim().length <1 || !paymentForm.controls.payee_cpf.valid
                   ">
                   Os campos acima estão incorretos.
            </p>
            <p [hidden]="!fraud === true" class="errormsg beCenter center">
                O cartão de crédito utilizado para este pagamento está sob suspeita de fraude.
                Lamentamos mas a sua reserva não poderá ser finalizada.
        </p>


    </div>
    <span class="beCenter center marU10"> 
        Clicando acima, você aceita as <a class="calm" (click)="payCancel()">condições de reserva</a>
    </span>
</div>
</div>
</div>
</ion-content>


