.cancelNewsLetter{
    .divcard {
        padding: 10px 0px 10px 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .approvalDivcard {
        color: #404040 !important;
        /* margin-top: 20px; */
        width: 100%;
    }
    .marUD0 {
        margin-top: 0;
        margin-bottom: 20px;
    }
    ion-spinner.spinner-bubbles {
    position: absolute;
    right: 4px;
    top: 8px;
}

}

