.contact{
    
    .corpo-padrao p.contact-title {
        font-size: 1em;
    }
    .corpo-padrao p {
        font-size: 86.7%;
        line-height: 1.39;
        /* padding-left: 12px; */
        width: 95%;
        color: #888888;
        text-align: left;
        margin-bottom: 17px;
        word-wrap: break-word;
    }
}