<zarpo-nav-bar [title]="pageTitle" [loading]="apiLoader" [showBack]="zarpoIcon"></zarpo-nav-bar>

<ion-content class="filterTag">
    <ion-refresher (ionRefresh)="doRefresh($event)" (enabled)="true">
        <ion-refresher-content
            refreshingSpinner="none"
            pullingIcon="none">
        </ion-refresher-content>
    </ion-refresher>
    <ion-row *ngIf="no_data=='true'">
        <div class="imgdiv">
            <img src="assets/img/nodata.png" alt=""/>

        </div>
        <ion-col class="noresultContent">
            Ops!
            Estamos sem ofertas abertas para a sua busca no momento.
            Por favor, tente novamente alterando um pouco os seus critérios
            acima ou <a class="link" (click)="contact()">solicite uma cotação</a> aos Mordomos Zarpo!
        </ion-col>

    </ion-row>
    <ion-list  *ngIf="true">
        <zarpo-flash-card *ngIf="flashItems"
            [items]="flashItems" [flashtype]="flashtype" [tag]="tagType" [no_data]="no_data"> 
        </zarpo-flash-card>

    </ion-list>
    <div class="tag_footer"> 
    <zarpo-footer *ngIf="flashItems && flashItems.length >0" > </zarpo-footer>
    </div>
</ion-content>

