.filterTag{
    .noresultContent{
        color: #ff7918;
        font-weight: 600;
        font-size: 17px;   
        margin-top:10px;
    }
    .link{
        color:#35caee !important;
    }
    .imgdiv{
        max-width: 45%;
        margin-top: 10px;
        /* min-width: 63px; */
    }
    .tag_footer{
        width: 94%;
        margin: 0 auto;
    }
}