ion-grid.footer{
    width:100%;
    padding:0;
    margin:0 auto;
    margin-top: 30px;
    ion-col{
        padding-top:0;
        padding-bottom:0;
    }
    .no-padL{
        padding-left:0;
    }
    .no-padR{
        padding-right:0;
    }
}